.feed-detail-grid {
    --gap: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: space-evenly;
}
/*
.feed-detail-grid {
    --gap: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: var(--gap);
}

@media (max-width: 1400px) {
    .feed-detail-grid {
        grid-template-columns: auto auto auto auto;
    }
}

@media (max-width: 1200px) {
    .feed-detail-grid {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 1000px) {
    .feed-detail-grid {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 800px) {
    .feed-detail-grid {
        grid-template-columns: auto;
    }
}
*/