.feed-detail-card {
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.8);
}

.feed-detail-image{
    display: grid;
    justify-content: center;
}

.feed-detail-image img{
    max-width: 250px;
    max-height: 250px;
    border-radius: 5px;
}

.feed-detail-description{
    max-width: 250px;
}