.feed-detail-card {
    border: 2px solid rgb(166, 121, 69);
    background-color: var(--site-background-light);
    border-radius: 5px;
    padding: 0 5px 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    overflow: hidden;
    background-image: linear-gradient(180deg,
    var(--site-background-light) 0%,
    var(--site-background-dark) 70%);
}

.feed-detail-image{
    display: grid;
    justify-content: center;
}

.feed-detail-image img{
    max-width: 250px;
    border-radius: 5px;
}

.feed-detail-title{
    font-size: 2em;
    text-align: center;
    padding: 5px;
}

.feed-detail-description{
    padding: 5px;
    text-align: center;
}